$primaryColor: #2c2c2c;
$primaryBackground: #f0efed;
$secondaryBackground: #f6a823;
$accentColor: #05afc1;

@mixin heading-text($size){
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: $primaryColor;
   font-size: $size;
}

@mixin page-header($size){
   font-family: 'Lora', serif;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 92px;
   font-size: $size;
}

@mixin flex-type($direction, $justifyContent, $alignItem, $wrap){
   display: flex;
   flex-direction: $direction;
   justify-content: $justifyContent;
   align-items: $alignItem;
   flex-wrap: $wrap;
}

@mixin div-style{
   text-align: left;
}

html{
   font-size: 62.5%;
}

body{
   font-family: 'Roboto', sans-serif;
   font-size: 2rem;
   line-height: 3.2rem;
   color: $primaryColor;
}

h1, h2, h3{
   margin: 0;
}

ul{
   margin: 0;
   padding: 0;
}

img{
   max-width: 80%;
}

a{
   text-decoration: none;
}

.wrapper{
   max-width: 80%;
   margin: 0 auto;
}


