$primaryColor: #2c2c2c;
$primaryBackground: #f0efed;
$secondaryBackground: #f6a823;
$accentColor: #05afc1;

@mixin heading-text($size){
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: $primaryColor;
   font-size: $size;
}

@mixin page-header($size){
   font-family: 'Lora', serif;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 92px;
   font-size: $size;
}

@mixin flex-type($direction, $justifyContent, $alignItem, $wrap){
   display: flex;
   flex-direction: $direction;
   justify-content: $justifyContent;
   align-items: $alignItem;
   flex-wrap: $wrap;
}

@mixin div-style{
   text-align: left;
}

html{
   font-size: 62.5%;
}

body{
   font-family: 'Roboto', sans-serif;
   font-size: 2rem;
   line-height: 3.2rem;
   color: $primaryColor;
}

h1, h2, h3{
   margin: 0;
}

ul{
   margin: 0;
   padding: 0;
   list-style: none;
}

img{
   max-width: 80%;
}

a{
   text-decoration: none;
}

[type="text"], [type="email"], textarea{
   padding: 1.5rem 3rem;
   border: none
}

[type="text"], [type="email"]{
   width: calc(50% - 3px);
}

[type="submit"], textarea{
   width: 100%;
}

[type="text"]:focus, [type="email"]:focus, textarea:focus{
   border: 1px solid $accentColor;
}

[type="submit"]:hover{
   background: #ffffff;
   border: 1px solid $accentColor;
}

textarea{
   margin: 2rem 0;
   resize: none;
}

textarea::-webkit-input-placeholder,[type="text"]::-webkit-input-placeholder,[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: $primaryColor;
   font-style: italic;
}

textarea::-moz-placeholder,[type="text"]::-moz-placeholder,[type="email"]::-moz-placeholder { /* Firefox 19+ */
   color: $primaryColor;
   opacity: 1;
   font-style: italic;
}

.wrapper{
   max-width: 80%;
   margin: 0 auto;
}


