/* humburger menu hidden  */
input#toggle,label[for="toggle"]{
	display: none; 
}

.header__home, .header-nav{
   background: $secondaryBackground;
}

.header-nav{
      &__logo{
            text-transform: uppercase;
            @include page-header(4rem);
            line-height: normal;
            padding-left: 2rem;
      }
}

.nav{
   list-style: none;
   background: $secondaryBackground;
   @include flex-type(row, center, center, wrap);
   &__link{
      @include heading-text(20px);
      line-height: 2.9rem;
      color: $primaryColor;
      // display: inline-block;
      padding: 0 2rem;
		&:hover{
			color: #ffffff;
		}
      &--logo{
      @include page-header(4.2rem);
      padding: 0 4rem;
      &:hover{
         color: $primaryColor;
         }
      }
      &--active{
         color: #ffffff;
      }
   }
}

.fa-times{
      color: #ffffff;
}

.header__container{
   @include flex-type(row, spaced-around, center, wrap);
}

.header__content{
   &--heading{
      width: 60%;
      background: url('../assets/circle-text.png') no-repeat;
   }
   &__heading{
      @include page-header(13rem);
      margin: 8rem 0 8rem 5rem;
   }
   &--image{
      width: 40%;
      position: relative;
      top: 5rem;  
   }
   &__img{
         box-shadow: 1.5rem 1.5rem white;
   }
}

.header__inner{
      &--blog, &--contact{
            min-height: 50vh;
      }
      &--blog{
            background: url('../assets/blog-image-1.jpg') center no-repeat;
            background-size: cover;
      }
      &--contact{
            background: url('../assets/contact-image-1.jpg') center no-repeat;
            background-size: cover;
      }
      
}