.section__primary{
   background: $primaryBackground;
   &--flex{
      @include flex-type(row, center, center, wrap);
   }
   &--img{
      width: 35%;
      padding: 10rem 0;
      img{
         box-shadow: 1.5rem 1.5rem $secondaryBackground;
      }
      
   }
   &--flex-width{
      width: 65%;
   }
   &--inner-heading{
      @include page-header(8rem);
      position: relative;
      bottom: 5.5rem;
   }
   &--inner-div{
      background: #ffffff;
      padding: 4rem 4rem;
      border-bottom: 4px solid $secondaryBackground;
      margin-bottom: 4rem;
   }  
   
}

.container{
   padding: 10rem 0;
   &__heading{
      @include heading-text(4.2rem);
   }
   &__button{
      background: $accentColor;
      padding: 1.3rem 4rem;
      @include heading-text(2rem);
   }
   &__content{
      margin: 4rem 0;
   }
}

.section__articles{
   @include flex-type(row, center, normal, wrap);
   .container{
      width: 50%;
      padding: 5rem 0 4rem 0;
      &__heading{
      @include heading-text(3.2rem);
      }
      &--right{
         text-align: right;
      }
      &__img{     
         position: relative;
         bottom: 1rem;
         right: 2rem;
      }
      &--rust,&--oyellow{
         height: 100%;
         padding: 0;
         position: relative;
      } 
      &--rust{
         background: #a82706; 
         bottom: 2rem;       
      }
      &--oyellow{
         background: $secondaryBackground;
         order: 1;
         top: 5rem;
      }
   }
}

.section__icons{
   @include flex-type(row, space-between, normal, wrap);
   padding: 10rem 0 5rem 0;
   .container{
      @include flex-type(row, space-around, normal, nowrap);
      padding: 0;
      width: calc(50% - 2%);
      div{
         margin-left: 4%;
      }
      &__heading{
         @include heading-text(3.2rem);
      }
      &__content{
         margin: 2rem 0 4rem 0;
      }  
      &__icon{
         padding: 1rem;
         background: $secondaryBackground;
         border-radius: 50%;
         color: $primaryColor;
      }
   }
}

.section__chairs{
   background: url('../assets/home-image-4.jpg') no-repeat center center;
   width: 100%;
   min-height: 70vh;
   background-size: cover;   
}

.section__gallery{
   &--flex{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 5rem auto;

   }
   &--img{
      width: calc(33% - 4%);
      margin: 2%;
      max-width: 100%;
   }
}

.inner-div{
    &__heading{
      @include heading-text(3.2rem);
   }
   &__info{
      font-style: italic;
      &--margin{
      margin: 0;
   }
   }
   &__author{
      color: #285e64;
      font-weight: bold;
   }
}

.blog-comment{
   @include flex-type(row, flex-start, normal, nowrap);
   &__content{
      width: 80%;
   }
   &__text{
      margin: 0;
   }

   &__one{
      border-bottom: none;
      margin-bottom: 2rem;
   }
   
}

.aside__inner-page{
   @include flex-type(row, flex-start, normal, nowrap);
   padding-bottom: 10rem;
   .aside__blog{
      background: #ffffff;
      padding: 3rem;
      margin-bottom: 2rem;
      &--img{
         max-width: 100%;
      }
      &--heading{
         @include heading-text(2.4rem);
      }
      &--link{
         color: #285e64;
         font-weight: bold;
      }
      &--list{
         margin: 2rem 0;
         padding: 0 0 0 2rem;
      }
      &--list-item::before{
          content: "•";
          margin-right: 1rem;
          color: $secondaryBackground;
      }
      &--social-list{
         @include flex-type(row, flex-start, normal, wrap);
      }
      // &--social-list-item{
      //    display: inline-block;
      // }
      &--link{
         color: $secondaryBackground;
         margin-right: 2.5rem;
         font-size: 2.4rem;
      }
      &--contact-list-item{
         width: max-content;
      }
      &--contact-link{
         color: $primaryColor;
      }
      &--email{
         font-weight: bold;
         margin: 1rem 0;
      }
      &--address{
         display: block;
      }

   }
}

.inner_aside, .inner__div{
   margin: 0 2rem;
}

.inner_aside{
   width: 35%;
}

.inner__div{
   width: 65%;
}





