@media (max-width: 1200px){
   input[type="text"], [type="email"]{
      width: 100%;
   }
   input[type="text"]{
      margin-bottom: 2rem;
   }
   .aside__inner-page{
      .aside__blog{
         &--link{
            margin-right: 2rem;
         }
         &--unit{
            display: block;
         }
         &--list{
            margin-left: 0;
         }
         &--heading{
            font-size: 2.2rem;
         }
      }
   }
   .inner-div{
      &__heading{
         font-size: 2.7rem;
      }
   }
   .header__content{
      &__heading{
         font-size: 10rem;
      }
   }
   .section__articles{
      .container{
         &--rust,&--oyellow{
            position: static;
         } 
      }
   }
}

@media (max-width: 968px) {
   .wrapper{
      max-width: 90%;
   }
   .section__primary{
      &--inner-heading{
         text-align: center;
      }
   }
   .aside__inner-page{
      .aside__blog{   
         padding: 2rem;
         &--link{
            margin-right: 1.5rem;
            font-size: 2.2rem;
         }
         &--contact-list-item{
            width: 100%;
         }
         &--unit{
            display: inline;
         }
         &--address-details{
            font-size: 1.8rem;
         }
      }
   }
   .inner__div{
      &--blog{
         padding: 4rem 2rem;
      }
   }
   .blog-comment{
      padding: 4rem 2rem;
   }
   .header__content{
      &__heading{
         font-size: 9rem;
      }
   }
   .section__articles{
      &--item{
         flex-direction: column;
      }
      .container{
         width: 80%;
         margin-top: 2rem;
         &--oyellow{
            order: 0;   
         } 
      }
   }
}

@media (max-width: 768px) {
   .nav__link{
      &--logo{
         padding: 0 2rem;
      }
   }

   .section__primary{
      &--contact{
         font-size: 7rem;
         bottom: 5rem;
      }
   }

   .aside__inner-page {
      @include flex-type(column, center, center, nowrap);
   }

   .inner_aside, .inner__div{
      width: 100%;
   }

   .aside__inner-page{
      .aside__blog{
         &--link{
            margin-right: 2.5rem;
            font-size: 2.4rem;
         }
         &--address-details{
            font-size: 2rem;
         }
         &--img{
            display: block;
            max-width: 50%;
            margin: 0 auto 2rem auto;
         }
      }
   }
   .header__content{
      &__heading{
         font-size: 7.5rem;
      }
   }
   .section__icons{
      flex-direction: column;
      .container{
         width: 100%;
      }
   }
   .section__chairs{
      min-height: 20vh;
   }
}

@media (max-width: 650px){
   label[for="toggle"]{
      display: block;
      padding: 2rem;
      font-size: 3.2rem;
   }
   .nav{
      display: none;
      &__link{
         color: #ffffff;
         display: block;
         padding: 3rem 2rem;
         font-size: 3.2rem;
         border-bottom: 2px solid white;
         &:hover{
            color: $primaryColor;
         }
         &--logo{
         display: none;
         }
      }
   }
   input[type="checkbox"]#toggle:checked + .nav{
      text-align: left;
      display: block;
      min-height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 1;          
   }
   .section__primary{
      &--contact{
         font-size: 5.5rem;
      }
      &--flex{
         flex-direction: column;
      }
      &--flex-width{
         width: 100%;
         padding: 0 0 5rem 0;
      }
      &--img{
         width: 100%;
         padding: 5rem 0;
         text-align: center;
      }
   }
   .header__container{
      padding-top: 5rem;
      flex-direction: column;
      align-items: normal;
   }
   .header__content{
      &--heading{
         width: 100%;
      }
      &__heading{
         margin-bottom: 0;
      }
      &__img{
         max-width: 100%;
      }
   }
   .section__gallery{
      &--flex{
         max-width: 100%;
         margin: 0;
      }
      &--img{
         margin: 0;
         width: 33.33%;
         display: block;
      }
   }
   .section__articles{
      .container-responsive{
         width: 100%;
      }
   }
}

@media (max-width: 480px) {
   .contact-wrapper{
      max-width: 100%;
   }
   .header__inner{
      &--blog{
         background-position: 80%;
      }   
   }
   .section__primary{
      &--contact{
         font-size: 4rem;
         bottom: 4.5rem;
      }
   }
   .section__gallery{
      &--flex{
         max-width: 100%;
         margin: 2rem 2rem 0 2rem;

      }
      &--img{
         margin-bottom: 2rem;
         width: 100%;
         display: block;
      }
   }
   .container__heading{
      font-size: 3rem;
   }
   .section__articles{
      .container__heading{
         font-size: 2.5rem;
      }
   }
}

@media (max-width: 350px) {
   body{
      font-size: 1.8rem;
   }
   .header__content{
      &__heading{
         font-size: 6rem;
      }

   }
   .section__primary{
      &--flex-width{
         width: 90%;
      }
   }
   .blog-comment{
      flex-direction: column;
   &__content{
      width: 100%;
      }
   }
}