@media (max-width: 1200px){
   // Contact Page Styling
   input[type="text"], [type="email"]{
       width: 100%;
   }

   input[type="text"]{
      margin-bottom: 2rem;
   }

   .aside__inner-page{
      .aside__blog{
         &--link{
            margin-right: 2rem;
         }
         &--unit{
            display: block;
         }
      }
   }
}

@media (max-width: 968px) {
   // Contact Page Styling
   .section__primary{
      &--inner-heading{
         text-align: center;
      }
   }
   .aside__inner-page{
      .aside__blog{
         &--link{
            margin-right: 1.5rem;
            font-size: 2.2rem;
         }
         &--contact-list-item{
            width: 100%;
         }
         &--unit{
            display: inline;
         }
         &--address-details{
            font-size: 1.8rem;
         }
      }
   }
}

@media (max-width: 768px) {
   // Contact Page Styling
   .nav__link{
      &--logo{
         padding: 0 2rem;
      }
   }

   .section__primary{
      &--Contact{
         font-size: 7rem;
      }
   }

   .aside__inner-page {
      @include flex-type(column, center, center, nowrap);
   }

   .inner_aside, .inner__div{
      width: 100%;
   }

   .aside__inner-page{
      .aside__blog{
         &--link{
            margin-right: 2.5rem;
            font-size: 2.4rem;
         }
         &--address-details{
            font-size: 2rem;
         }
      }
   }

}

@media (max-width: 650px){
   .wrapper{
      max-width: 90%;
   }
}

@media (max-width: 480px) {
}