@media (max-width: 1200px){
   // Contact Page Styling
   input[type="text"], [type="email"]{
       width: 100%;
   }

   input[type="text"]{
      margin-bottom: 2rem;
   }
   .aside__inner-page{
      .aside__blog{
         &--link{
            margin-right: 2rem;
         }
         &--unit{
            display: block;
         }
         // Blog Page Styling
         &--list{
            margin-left: 0;
         }
         &--heading{
            font-size: 2.2rem;
         }
      }
   }

   .inner-div{
      &__heading{
         font-size: 2.7rem;
      }
   }
   // home page styling
   .header__content{
      &__heading{
         font-size: 10rem;
      }
   }

   .section__articles{
       .container{
          &--rust,&--oyellow{
             position: static;
          } 
       }
   }
}

@media (max-width: 968px) {
   .wrapper{
      max-width: 90%;
   }
   // Contact Page Styling
   .section__primary{
      &--inner-heading{
         text-align: center;
      }
   }
   .aside__inner-page{
      .aside__blog{   
         padding: 2rem;
         &--link{
            margin-right: 1.5rem;
            font-size: 2.2rem;
         }
         &--contact-list-item{
            width: 100%;
         }
         &--unit{
            display: inline;
         }
         &--address-details{
            font-size: 1.8rem;
         }
      }
   }
   .inner__div{
      &--blog{
         padding: 4rem 2rem;
      }
   }
   .blog-comment{
      padding: 4rem 2rem;
   }
   // home page styling
   .header__content{
      &__heading{
         font-size: 9rem;
      }
   }
   .section__articles{
      &--item{
         flex-direction: column;
      }
      .container{
         width: 80%;
         margin-top: 2rem;
          &--oyellow{
            order: 0;   
          } 
       }
   }
}

@media (max-width: 768px) {
   // Contact Page Styling
   .nav__link{
      &--logo{
         padding: 0 2rem;
      }
   }

   .section__primary{
      &--contact{
         font-size: 7rem;
         bottom: 5rem;
      }
   }

   .aside__inner-page {
      @include flex-type(column, center, center, nowrap);
   }

   .inner_aside, .inner__div{
      width: 100%;
   }

   .aside__inner-page{
      .aside__blog{
         &--link{
            margin-right: 2.5rem;
            font-size: 2.4rem;
         }
         &--address-details{
            font-size: 2rem;
         }
         &--img{
            display: block;
            max-width: 50%;
            margin: 0 auto 2rem auto;
         }
      }
   }
   .header__content{
      &__heading{
         font-size: 7.5rem;
      }
   }
   .section__icons{
      flex-direction: column;
      .container{
         width: 100%;
      }
   }
}

@media (max-width: 650px){
   .nav{
      display: none;
      // @include flex-type(column, center, center, nowrap);
   }
   .section__primary{
      &--contact{
         font-size: 5.5rem;
      }
      &--flex{
         flex-direction: column;
      }
      &--flex-width{
         width: 80%;
         padding: 0 0 5rem 0;
      }
      &--img{
         width: 100%;
         padding: 5rem 0;
         text-align: center;
      }
   }
   .header__container{
      padding-top: 5rem;
      flex-direction: column;
      align-items: normal;
   }
   .header__content{
      &--heading{
         width: 100%;
      }
      &__heading{
         margin-bottom: 0;
      }
   }
}

@media (max-width: 480px) {
   .contact-wrapper{
      max-width: 100%;
   }
   .header__inner{
      &--blog{
         background-position: 80%;
      }   
   }
   .section__primary{
      &--contact{
         font-size: 4rem;
         bottom: 4.5rem;
      }
   }

}

@media (max-width: 350px) {
   .header__content{
      &__heading{
         font-size: 6rem;
      }
   }
    .section__primary{
      &--flex-width{
         width: 90%;
      }
   }
}