@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #2c2c2c; }

h1, h2, h3 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

img {
  max-width: 80%; }

a {
  text-decoration: none; }

.wrapper {
  max-width: 80%;
  margin: 0 auto; }

.header__home {
  min-height: 60vh;
  background: #f6a823; }

.nav {
  list-style: none;
  background: #f6a823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .nav__link {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2c2c2c;
    font-size: 20px;
    line-height: 2.9rem;
    color: #2c2c2c;
    display: inline-block;
    padding: 0 2rem; }
    .nav__link--logo {
      font-family: 'Lora', serif;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 92px;
      font-size: 4.2rem;
      padding: 0 4rem; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: spaced-around;
  -ms-flex-pack: spaced-around;
  justify-content: spaced-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.header__content--heading {
  width: 60%;
  background: url("../assets/circle-text.png") no-repeat; }

.header__content__heading {
  font-family: 'Lora', serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 92px;
  font-size: 13rem;
  margin: 8rem 0 8rem 5rem; }

.header__content--image {
  width: 40%;
  position: relative;
  top: 5rem; }

.header__content__img {
  -webkit-box-shadow: 1.5rem 1.5rem white;
  box-shadow: 1.5rem 1.5rem white; }

.header__inner {
  min-height: 50vh;
  background: url("../assets/blog-image-1.jpg") no-repeat;
  background-size: cover; }

.section__primary {
  background: #f0efed; }
  .section__primary--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .section__primary--img {
    width: 35%;
    padding: 10rem 0; }
    .section__primary--img img {
      -webkit-box-shadow: 1.5rem 1.5rem #f6a823;
      box-shadow: 1.5rem 1.5rem #f6a823; }
  .section__primary--flex-width {
    width: 65%; }
  .section__primary--inner-heading {
    font-family: 'Lora', serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 92px;
    font-size: 8rem;
    position: relative;
    bottom: 5.5rem; }
  .section__primary--inner-div {
    background: #ffffff;
    padding: 4rem 4rem;
    border-bottom: 4px solid #f6a823;
    margin-bottom: 4rem; }
  .section__primary--form [type="text"], .section__primary--form [type="email"], .section__primary--form textarea {
    padding: 1.5rem 3rem; }
  .section__primary--form [type="text"], .section__primary--form [type="email"] {
    width: calc(50% - 3px); }
  .section__primary--form [type="submit"], .section__primary--form textarea {
    width: 100%; }
  .section__primary--form textarea {
    margin: 2rem 0;
    border: none;
    resize: none; }
  .section__primary--form textarea::-webkit-input-placeholder, .section__primary--form [type="text"]::-webkit-input-placeholder, .section__primary--form [type="email"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #2c2c2c;
    font-style: italic; }
  .section__primary--form textarea::-moz-placeholder, .section__primary--form [type="text"]::-moz-placeholder, .section__primary--form [type="email"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #2c2c2c;
    opacity: 1;
    font-style: italic; }

.container {
  padding: 10rem 0; }
  .container__heading {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2c2c2c;
    font-size: 4.2rem; }
  .container__button {
    background: #05afc1;
    padding: 1.3rem 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2c2c2c;
    font-size: 2rem; }
  .container__content {
    margin: 4rem 0; }

.section__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .section__articles .container {
    width: 50%;
    padding: 5rem 0 4rem 0; }
    .section__articles .container__heading {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #2c2c2c;
      font-size: 3.2rem; }
    .section__articles .container--right {
      text-align: right; }
    .section__articles .container__img {
      position: relative;
      bottom: 1rem;
      right: 2rem; }
    .section__articles .container--rust, .section__articles .container--oyellow {
      height: 100%;
      padding: 0;
      position: relative; }
    .section__articles .container--rust {
      background: #a82706;
      bottom: 2rem; }
    .section__articles .container--oyellow {
      background: #f6a823;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      top: 5rem; }

.section__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10rem 0 5rem 0; }
  .section__icons .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
    width: calc(50% - 2%); }
    .section__icons .container div {
      margin-left: 4%; }
    .section__icons .container__heading {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #2c2c2c;
      font-size: 3.2rem; }
    .section__icons .container__content {
      margin: 2rem 0 4rem 0; }
    .section__icons .container__icon {
      padding: 1rem;
      background: #f6a823;
      border-radius: 50%;
      color: #2c2c2c; }

.section__chairs {
  background: url("../assets/home-image-4.jpg") no-repeat center center;
  width: 100%;
  min-height: 70vh;
  background-size: cover; }

.section__gallery--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 5rem auto; }

.section__gallery--img {
  width: calc(33% - 4%);
  margin: 2%;
  max-width: 100%; }

.inner-div__heading {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #2c2c2c;
  font-size: 3.2rem; }

.inner-div__info {
  font-style: italic; }
  .inner-div__info--margin {
    margin: 0; }

.inner-div__author {
  color: #285e64;
  font-weight: bold; }

.blog-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .blog-comment__content {
    width: 80%; }
  .blog-comment__text {
    margin: 0; }
  .blog-comment__one {
    border-bottom: none;
    margin-bottom: 2rem; }

.aside__inner-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 10rem; }
  .aside__inner-page .aside__blog {
    background: #ffffff;
    padding: 3rem;
    margin-bottom: 2rem; }
    .aside__inner-page .aside__blog--img {
      max-width: 100%; }
    .aside__inner-page .aside__blog--heading {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #2c2c2c;
      font-size: 2.4rem; }
    .aside__inner-page .aside__blog--link {
      color: #285e64;
      font-weight: bold; }
    .aside__inner-page .aside__blog--list {
      margin: 2rem 0;
      padding: 0 0 0 2rem;
      list-style: none; }
    .aside__inner-page .aside__blog--list-item::before {
      content: "•";
      margin-right: 1rem;
      color: #f6a823; }

.inner_aside, .inner__div {
  margin: 0 2rem; }

.inner_aside {
  width: 35%; }

.inner__div {
  width: 65%; }

.footer__common {
  background: #2c2c2c; }
  .footer__common--paragraph {
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: .5rem 0; }
